$body-color: #000;
$headings-font-weight: 700;
$card-border-radius: 0;
$primary: #2869ac;
$btn-border-radius: 0;
$gray-200: #ebebeb;
$h4-font-size: 1.125rem;
$h5-font-size: 1rem;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
